# Copy to terraform.tfvars

# Tenant GUID
tenant_id         = "00000000-0000-0000-0000-000000000000"

# Optional: Deploy ALZ under tenant root (defaults to current tenant if omitted)
# parent_resource_id = "00000000-0000-0000-0000-000000000000"

# Optional
location = "southeastasia"
