.terraform/
**/.terraform/
.terraform.lock.hcl.tmp

# Terraform state
*.tfstate
*.tfstate.*
crash.log
crash.*.log

# Terraform plans
*.tfplan
tfplan
tfplan-*

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI configuration files
.terraformrc
terraform.rc

# Editor / OS
.DS_Store
Thumbs.db
.vscode/

# diagrams.net / draw.io temp files
.$*.dtmp

# diagrams.net / draw.io backup files
.$*.bkp
